---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Page Name | Forge">
  <section class="py-24 px-6">
    <h1 class="text-4xl font-black uppercase italic">Page Name</h1>
  </section>
</Layout>